# Environment Variables (Protect Secrets)
.env
*.env
.env.local
.env.*.local
!.env.example

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.h5
*.keras
backend/app/ml/*.h5
backend/app/ml/*.keras
backend/uploads/*
!backend/uploads/.gitkeep

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
